.headhead {
    font-size: 40px;
    font-family: cursive;
}



body {
    background-color: #E9eff0;
}

#logo4 {
   
    height: 150px;
    
}

img {
    border-radius: 30%;
}

#photoo-main {
    border: solid 5px inset; 
}

#mySidebar {
    background-color: hotpink;
}
